.ui.container{
    margin: 2em;
}

.ui.red.segment{
    margin-top: 1em;
}

p{
    font-size: 85%;
    white-space: nowrap;
    font-weight: bold;
}

.ui.center.aligned.header.step{
    margin-bottom: 1em;
}

.ui.divided.middle.aligned.list{
    margin-bottom: 1em;
}

.ui.header.h4margin{
    margin-bottom: 1em;
}